.topbar {
    background-color: #7fff005e;
    display: flex;
    .province {
        display: flex;
        flex-direction: column;
        margin: 10px 20px;
        lable {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 4px;
        }
        .form-select {
            border-radius: 0;
            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }
    }
    .filterNews {
        margin-top: 25px;
        padding: 5px 17px;
        background-color: orange;
        color: white;
        font-weight: bold;
    }
}
